# B站缓存根目录（你存放所有视频文件夹的路径）
BILIBILI_CACHE_DIR="/run/media/xyj/34EEDCC5EEDC8112/Users/XYJ/Videos/bilibili"
# 转换后MP4的输出目录
OUTPUT_MP4_DIR=""
# 最大并发线程数（根据电脑配置调整，建议3-8）
MAX_WORKERS=5
# 是否跳过已经转换完成的视频
SKIP_EXISTING=True